<div class="card">
  <img src="{{localidad.Bandera}}" alt="{{localidad.Pais}}"/>
  <h2>{{localidad.Pais}}</h2>
  <p>Capital: {{localidad.Capital}}</p>
  <p>Continente: {{localidad.Continente}}</p>
</div>