<div class="card border-2 m-4 p-4 max-w-sm border-stone-900 rounded-2xl">
  <img 
    src="{{localidad.Bandera}}" 
    alt="{{localidad.Pais}}"
    class="max-w-full" 
  />
  <h2>País: {{localidad.Pais}}</h2>
  <p>Capital: {{localidad.Capital}}</p>
  <p>Continente: {{localidad.Continente}}</p>
</div>